cd client
rm -rf build
npm run build
```

It will recreate the `build` folder from `public` and `src`.

---

## 📝 Make Sure `.gitignore` is Correct

Your `client/.gitignore` should have:
```
# dependencies
node_modules/

# production BUILD (don't commit this)
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*node_modules/
